[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enrollcast"]
	path = enrollcast
	url = https://github.com/localopen/enrollcast
