[submodule ".registry"]
	path = .registry
	url = https://github.com/localopen/localopen.r-universe.dev
	branch = HEAD
[submodule "enrollcast"]
	path = enrollcast
	url = https://github.com/localopen/enrollcast
